@import url();

@font-face {
  font-family: lazer84;
  src: url(Lazer84.ttf);
}


body{
    background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn2.vectorstock.com%2Fi%2F1000x1000%2F24%2F01%2Fsynth-wave-retro-grid-background-synthwave-80s-vector-25372401.jpg&f=1&nofb=1');
    color: black;
    background-repeat: no-repeat;
    background-position: 10% 10%;
    background-size: cover;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: lazer84;
}

#top h3{
    letter-spacing: 10px;
    font-size: 3rem;
    color: #38ccf1;
    text-shadow: 5px 5px 1px #d335d0;

}

#levelClock{
    letter-spacing: 10px;
    font-size: 1.5rem;
    color: #38ccf1;
    text-shadow: 5px 5px 1px #d335d0;
    margin: 0;
    text-align: center;
    margin-bottom: 40px;
}

#board{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    width: 80%;
    height: 80vh;
    max-width: 512px;
    max-height: 512px;
    box-shadow: 0px 0px 3px black;
}

.cell{
    min-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 1;
}

.lightgreen{
    background-color: var(--light-green);
}

.mediumgreen{
    background-color: var(--medium-green);
}

.explosion{
    z-index: 4;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.bomb{
    z-index: 3;
    background-image: url(bomb.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.boomerman{
    z-index: 2;
    background-image: url(boomerman_0.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    /* grid-column: 1/2;
    grid-row: 1/2; */
}

.enemy{
    z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.balloon{
    background-image: url(enemy_1.png);
}

.balloon-dead{
    background-image: url(enemy_dead_1.png);
}

.boomerman-dead{
    z-index: 2;
    background-image: url(boomerman_dead_1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.door{
    background-image: url(door_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.wall{
    background-image: url(wall.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.breakWall{
    background-image: url(breakWall.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.rubble{
    background-image: url(rubble.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

.explosion-center{
    z-index: 4;
    background-image: url(explosion_origin.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%; 
}

.explosion-right{
    z-index: 4;
    background-image: url(explosion_x_end_pos.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%; 
}

.explosion-left{
    z-index: 4;
    background-image: url(explosion_x_end.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%; 
}

.explosion-top{
    z-index: 4;
    background-image: url(explosion_y_end.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%; 
}

.explosion-bottom{
    z-index: 4;
    background-image: url(explosion_y_end_neg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%; 
}