/* minesweeper flag */
/* https://www.google.com/logos/fnbx/minesweeper/flag_icon.png */

/* minesweeper clock
https://www.google.com/logos/fnbx/minesweeper/clock_icon.png */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#board{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(14, 1fr);
    width: 80%;
    height: 80vh;
    box-shadow: 0px 0px 3px black;
}

.lightgreen{
    background-color: var(--light-green);
}

.mediumgreen{
    background-color: var(--medium-green);
}

.flag{
    background-image: url(https://www.google.com/logos/fnbx/minesweeper/flag_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.showMine{
    background: var(--orange-color) radial-gradient(black 0%, black, 39%, var(--orange-color) 40%, var(--orange-color) 80%, var(--light-green));
}

.cell{
    width: 100%;
    height: 100%;
    margin: 0;
}

p{
    font-size: 0.8rem;
    font-weight: bold;
}