/* minesweeper flag */
/* https://www.google.com/logos/fnbx/minesweeper/flag_icon.png */

/* minesweeper clock
https://www.google.com/logos/fnbx/minesweeper/clock_icon.png */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#board{
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(14, 1fr);
    width: 80%;
    height: 80vh;
    box-shadow: 0px 0px 3px black;
}

#board:hover{
    cursor:url("Shovel.cur"), default;
}

#top{
    margin: 10px;
}

#numMinesDisplay{
    text-align: center;
    margin: 5px;
}

#top a{
    background-color: var(--dark-green); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#top a:hover{
    box-shadow: 3px 3px 0px var(--medium-green); /* Green */
    color: var(--medium-green);
}

.lightgreen{
    background-color: var(--light-green);
}

.mediumgreen{
    background-color: var(--medium-green);
}

.lightskin{
    background-color: var(--light-skin);
}

.darkskin{
    background-color: var(--dark-skin);
}

.flag{
    background-image: url(https://www.google.com/logos/fnbx/minesweeper/flag_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.showMine{
    background: var(--orange-color) radial-gradient(black 0%, black, 39%, var(--orange-color) 40%, var(--orange-color) 80%, var(--light-green));
}

.cell{
    min-height: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
}

p{
    font-size: 0.8rem;
    font-weight: bold;
}